<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411358792205-95v3p2fol6lcfd237p43hm3tckhdjokq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411358792205-95v3p2fol6lcfd237p43hm3tckhdjokq</string>
	<key>API_KEY</key>
	<string>AIzaSyBa97ysPFAY8T7vJQ-rLtBgdYxGFnFniGg</string>
	<key>GCM_SENDER_ID</key>
	<string>411358792205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.bizworks.dispatch</string>
	<key>PROJECT_ID</key>
	<string>bizworks-12327</string>
	<key>STORAGE_BUCKET</key>
	<string>bizworks-12327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411358792205:ios:62491253f92e8c1d85e344</string>
</dict>
</plist>